#publisherInfoSection {
  width: 100%;
  display: flex;
  align-items: center;
}

#publisherInfoSection #profilePhotoWrapper {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

#publisherInfoSection table {
  flex-grow: 6;
}

#profilePhoto {
  width: 100px;
  height: 100px;
}

#tableLayout tr:nth-child(3) td:not(:last-child) {
  vertical-align: top;
}

#balanceSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
}

#balanceSection h1, #balanceSection p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#balanceSection p {
  font-size: 1.5rem;
  margin-left: 30px;
  margin-right: 30px;
}

#bookSection {
  width: 100%;
}

.right-side button, #searchProductContainer {
  display: inline;
}

#searchProductContainer {
  box-sizing: content-box;
  border: 1px solid black;
  position: relative;
}

table#bookTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#bookTable td, #bookTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bookTable tr:nth-child(even){background-color: #f2f2f2;}

#bookTable tr:hover {background-color: #ddd;}

#bookTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}

#bookTable th {
  text-align: center;
}

#bookTable th:last-child {
  text-align: start;
}

#bookTable td:nth-child(1),
#bookTable td:nth-child(4),
#bookTable td:nth-child(5) {
  text-align: center;
}