body {
  margin: 0px;
  font-family: Assistant, sans-serif, 'Times New Roman', Times, serif;
}

button {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.slim-button {
  padding: 3px 10px;
  border-radius: 4px;
}

.fat-button {
  padding: 10px 0px;
}

#pageContent {
  padding: 10px 15px;
}

.d-flex-space-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}