h1, p {
  text-align: center;
}

h1 {
  color: red;
}

p {
  margin: 3px 0px;
}

.centering {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  padding: 6px 15px !important;
  margin-top: 12px;
}