#grid-container {
  width: 100%;
  height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#left-side, #right-side {
  position: relative;
}

img {
  width: 230px;
}

img, form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label, input, button {
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
}

input {
  width: 100%;
  margin-bottom: 5px;
  height: 23px;
}

#centering {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 65%;
}

a {
  color: red;
  text-decoration: none !important;
}

h1 {
  margin-bottom: 5px;
}

p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 30px;
}

button {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.exception-help {
  margin-bottom: 0px;
  margin-top: 0px;
}